
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li style="list-style-type: none; margin-left: -1rem;">
            <span class="badge badge-sm bg-gradient-danger"><%= message %></span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
  <div class="aestric-container mb-2">
    <%= f.label :name %><span class="aestric-color">*</span>
  </div>
    <%= f.text_field :name, class: "form-control form-control-lg", placeholder: "Name", required: true %>
  </div>

  <div class="form-group mb-3">
  <div class="aestric-container mb-2">
    <%= f.label :description %><span class="aestric-color">*</span>
  </div>
    <%= f.text_area :description, class: "form-control form-control-sm", placeholder: "Description", required: true %>
  </div>

  <div class="form-group mb-3">
  <div class="aestric-container mb-2">
    <%= f.label :price %><span class="aestric-color">*</span>
  </div>
    <%= f.number_field :price, class: "form-control", placeholder: "₹Price", required: true %>
  </div>

  <div class="form-group mb-3">
  <div class="aestric-container mb-2">
    <%= f.label :images, for:"formFileMultiple" %> <span class="aestric-color">*</span>
  </div>
    <%= f.file_field :images, class: "form-control", :multiple => true, id:"formFileMultiple"%><br>
  </div>

  <% if action_name == "edit" || action_name == "update" %>
    <%= f.submit "Update Product",  data: { confirm: 'Are you sure you have to update this?' }, class: "btn btn-primary mr-2" %>
  <% else %>
    <%= f.submit "Create Product", class: "btn btn-primary mr-2" %>
  <% end %>
