<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>
<div class="card-header text-center">
  <strong>Product</strong>
</div>
<%= render @product %>
<%= link_to 'Edit this product', edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<%= button_to 'Destroy this product', product_path(@product), method: :delete, class: "btn btn-secondary" %>
<%= link_to 'Back to procucts', products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
